* {
   background-color: #f2f2f2;
}

.link-button {
   background-color: #3f3f8f;
   padding: 10px 15px;
   border-radius: 15px;
   color: aliceblue;
   text-decoration: none;
   margin-right: 15px;
   font-style: italic;
}
.link-button:hover {
   background-color: #3f3f8f;
   transition: 0.3s;
}

.container {
   width: 90%;
   margin: auto;
}
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
ol {
   color: #1c1c1e;
   background-color: transparent;
}

#back {
   background-color: transparent;
   color: aliceblue;
   border: none;
}
img {
   background-color: transparent;
}

.title {
   background-color: transparent;
}

#subtitle,
.title {
   color: #3f3f8f;
}
#smartphone {
   margin: auto;
   width: 100%;
   display: flex; 
   object-fit: cover;
   height: 750px;
   border-radius: 30px;
   background-color: #fff;
}
#desc{
   display: flex;
   margin: 15px auto;
   width: 50%;
   background-color: #fff;
}
.image{
   background-color: #fff;
}
#smartphone-img{
   margin: auto;
}
#nav .title {
   font-size: 42px;
   color: #1c1c1e;
   margin: 10px 0;
   background-color: transparent;
   font-weight: 400;
}
#nav .subtitle {
   font-size: 22px;
   color: #1c1c1e;
   font-weight: 400;
   margin: -10px 0 25px;
   background-color: transparent;
}
#homepage {
   width: 100%;
   font-size: 18px;
   line-height: 32px;
   background-color: transparent;
}
.title span {
   font-weight: 600;
   font-size: 62px;
   color: #3f3f8f;
   font-style: italic;
   background-color: transparent;
}
#unit1 #subtitle{
   color: #1c1c1e;
}
.units {
   padding: 30px;
   border-radius: 30px;
   background-color: #fff;
   justify-content: space-between;
   margin-bottom: 30px;
}
#nav .units {
   margin-top: 30px;
}
#nav {
   width: 100%;
   padding: 15px 0;
}
.nav {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
#bg {
   width: 45%;
   margin-left: auto;
   height: 50%;
}
.units .left {
   background-color: transparent;
   width: 45%;
}
#homepage .units {
   display: flex;
   flex-direction: row-reverse;
}
#copyright {
   font-size: 12px;
}
.footer {
   background-color: #fff;
   border-radius: 30px;
}
.footer #nav {
   background-color: #fff;
   padding: 15px 0;
}
.footer .nav {
   background-color: #fff;
}
.footer .logo {
   background-color: #fff;
}
.footer #copyright {
   background-color: #fff;
   color: #3f3f8f;
   font-weight: 600;
}
.logo {
   width: 150px;
}
.logo img {
   width: 100%;
}
.author {
   color: #3f3f8f;
   font-weight: 600;
   /* background-color: #3f3f8f70; */
   /* font-style: italic; */
   padding: 5px 8px;
   border-radius: 15px;
}
